<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basic" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/StockServiceLibrary/StockService"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="StockServiceReference.IStockService"
                name="basic" />
        </client>
    </system.serviceModel>
</configuration>