<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceConfigurationSection" type="StockServiceLibrary.ServiceConfigurationSection, StockServiceLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <serviceConfigurationSection xmlns="urn:StockServiceLibrary" rabbitMQ_HostName="localhost"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>