<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceConfigurationSection" type="StockServiceLibrary.ServiceConfigurationSection, StockServiceLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <serviceConfigurationSection xmlns="urn:StockServiceLibrary" rabbitMQ_HostName="localhost"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicBinding" closeTimeout="00:02:00" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="StockServiceLibrary.StockService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicBinding" name="basic" contract="StockServiceLibrary.IStockService" />
        <!--<endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8734/StockServiceLibrary/StockService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint address="http://localhost:8734/StockServiceLibrary/StockService" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="StockServiceReference.IStockService" name="basic" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, 
          establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, 
          establezca el valor siguiente en true. Para no revelar información sobre las excepciones 
          establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>